:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--navbar-backgroundcolor);
  /* Colors */
  --buttons-color: rgb(225, 29, 72);
  --navbar-backgroundcolor: rgb(7, 10, 18);
  --indigo: rgb(79, 70, 229);
}



*{
  margin: 0;
  line-height: calc(1em + 0.5em);
}

 img,picture,video,canvas,svg, input::placeholder{
  display: block;
  max-width: 100%;
  user-select: none;
} 

select,button{
  all:unset;
  letter-spacing: -0.05em;
  display: block;
  max-width: 100%;
  user-select: none;
} 
/* xs */
@media (max-width: 475px){
  /* #root{

  } */
}
/* sm */
@media (max-width: 640px){

}
/* md */
@media (max-width: 768px){

}
/* xs */
@media (max-width: 1024px){

}
/* xl */
@media (max-width: 1280px){

}
/* 2xl */
@media (max-width: 1536px){

}